<script type="text/javascript">
		let current_page = 0
	    var channels_names = {{ channels_names_json|safe }};
	    var channels_state = [];
	    var channels_meandrs = [];
	    var hidden_channel = "{{ hidden_channel }}";

		function set_channels(page=current_page, meandrs=true, display_state=true)
		{
			for (var i = 0; i <= 2; i++)
			{
				if (i == page)
				{
					document.getElementById("chns_selector_" + i.toString()).className = "titlef folderon"
				}
				else
				{
					document.getElementById("chns_selector_" + i.toString()).className = "titlef folderoff"
				}
			}
			for (var i = 1; i <= 10; i++)
			{
				let channel_number = page * 10 + i;
				var name = "Канал " + channel_number.toString();
				if (channel_number < channels_names.length)
				{
				    name = channels_names[channel_number-1];
				}

				if (document.getElementById('chn' + i.toString()).tagName.toLowerCase() === 'input')
				{
				    document.getElementById('chn' + i.toString()).name = "chn" + channel_number.toString() + "_name";
				    document.getElementById('chn' + i.toString()).value = name;
				}
				else
				{
				    document.getElementById('chn' + i.toString()).innerHTML = name;
				}

				if (hidden_channel != "" & parseInt(hidden_channel) == channel_number)
				{
				    document.getElementById('chn' + i.toString() + "_div").parentElement.style = "height: 0;"
				}
				else
				{
				    document.getElementById('chn' + i.toString()).style = "height: ;"
				}


                if (display_state)
                {
                    if (channel_number <= channels_state.length)
				    {
                        var className = "titlev channeloff";
                        var classNameMeandr = "meandroff";

                        if (channels_state[channel_number - 1])
                        {
                            className = "titlev channelon";
                            classNameMeandr = "meandron";
                        }

                        document.getElementById('chn' + i.toString() + "_div").className = className;
                        if (meandrs & channel_number <= channels_meandrs.length & channels_meandrs[channel_number-1])
                        {
                            document.getElementById('chn' + i.toString() + "_meandr").className = classNameMeandr;
                        }
				    }
                }

			}
			current_page = page;
		}

		function set_channels_status()
		{
			for (var i = 0; i <= 2; i++)
			{
				var active_channels = [];
				for (var j = 1; j <= 10; j++)
				{
					let channel_number = i * 10 + j;

					if (channels_state[channel_number - 1])
					{
						active_channels.push(channel_number.toString());
					}

				}
				var active_channels_str = active_channels.join(", ")
				if (active_channels_str == "")
				{
					active_channels_str = "-"
				}

				document.getElementById("chns_selector_" + i.toString() + "_status").innerHTML = active_channels_str;
			}
		}
</script>