<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=0">
	<meta name="format-detection" content="telephone=no">
	<title>{% block title %} {% endblock %}</title>
	<!--<link rel="stylesheet" href="css/style.css">-->
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

	<div class="wrapper">

		<div class="page">

			<div class="page__row">

				<div class="page__head">
					<div class="mhead">
						<div class="mhead__title">{% block title %} {% endblock %}</div>
						<a target="_blank" href="https://hi-garden.ru/aqua2-manual" class="mhead__manual xhref">&#8942;</a>		 
				 	</div>
				</div>

			  	<div class="page__body">

					<div class="mbody" style="border: 1px solid green;">

						{% block content %}

						{% endblock %}

					</div>

				</div>

			  	<div class="page__footer"></div>
			</div>
	</div>
</body>
</html>