
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=0">
	<meta name="format-detection" content="telephone=no">
	<title>Aquarius</title>
	<!--<link rel="stylesheet" href="css/style.css">-->
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
{% include "includes/utils.html" %}
<div style="display: none;">
	<div id="prg_example" class="status__row">
		<div class="status__column npp">
			<div class="titlew">
				<a id="prg_example_num" href="https://hi-garden.ru" class="titlew myxhref">0</a>
			</div>
		</div>

		<div class="status__column wdays">
			<div class="titlew">
				<a id="prg_example_days"  href="https://hi-garden.ru" class="myxhref">1234567 чн</a>
			</div>
		</div>

		<div class="status__column tbas">
			<div class="titlew">
				<a id="prg_example_time_start" href="https://hi-garden.ru" class="titlew myxhref">12:00</a>
			</div>
		</div>

		<div class="status__column lbas">
			<div class="titlew">
				<a id="prg_example_t_min" href="https://hi-garden.ru" class="titlew myxhref">120</a>
			</div>
		</div>

		<div class="status__column lbas">
			<div class="titlew">
				<a id="prg_example_t_max" href="https://hi-garden.ru" class="titlew myxhref">240</a>
			</div>
		</div>
	</div>

</div>
<script type="text/javascript">
	const prg_url_pattern = "{% url 'program' mqtt_user chn '-to_replace-' %}";
	var programs_data_json = '{{ prg_data_json|safe }}'
	var programs_data = JSON.parse(programs_data_json);

	function add_program(prgData)
	{
		let prg_num = programs.children.length + 1;
		var example = document.getElementById('prg_example');
		var new_prg = example.cloneNode(true);
		var new_prg_url = prg_url_pattern.replace("-to_replace-", prg_num.toString());

		new_prg.querySelector('#prg_example_num').href = new_prg_url;
		new_prg.querySelector('#prg_example_num').innerHTML = prg_num.toString();

		new_prg.querySelector('#prg_example_days').href = new_prg_url;
		var str_days = "";
		for (var i = 1; i < 8; i++)
		{
			if (prgData["days"].includes(i.toString()))
			{
				str_days += i.toString();
			}
		}
		str_days += " ";
		if (prgData["weeks"][0]) { str_days += "ч"; }
		if (prgData["weeks"][1]) { str_days += "н"; }
		new_prg.querySelector('#prg_example_days').innerHTML = str_days;

		new_prg.querySelector('#prg_example_time_start').href = new_prg_url;
		new_prg.querySelector('#prg_example_time_start').innerHTML = prgData["t_start_hour"].toString() + ":" + two_digits(prgData["t_start_minute"]);

		new_prg.querySelector('#prg_example_t_min').href = new_prg_url;
		new_prg.querySelector('#prg_example_t_min').innerHTML = prgData["t_min"].toString();

		new_prg.querySelector('#prg_example_t_max').href = new_prg_url;
		new_prg.querySelector('#prg_example_t_max').innerHTML = prgData["t_max"].toString();

		programs.append(new_prg);
	}

	function set_pressure()
	{
		document.getElementById("press_on").value = ({{ chan.press_on }} / 10).toString();
		document.getElementById("press_off").value = ({{ chan.press_off }} / 10).toString();
	}

	function create_program()
	{
		window.location.replace("{% url 'create_program' mqtt_user chn %}")
	}

	function save()
	{
		document.getElementById("channel_settings").submit();
	}
</script>
<body>
	<form id="channel_settings" action="#" method="post" enctype="multipart/form-data">{% csrf_token %}</form>
	<div class="wrapper">

		<div class="page">
			<div class="page__row">

				<div class="page__element page__head">
				 	<div class="mhead">
						<div class="mhead__title">Программирование</div>
						<div class="mhead__channel">{{ chan.name }}</div>
						<a target="_blank" href="https://hi-garden.ru/aqua2-manual" class="mhead__manual xhref">&#8942;</a>
					 </div>
				</div>

			  	<div class="page__element page__body">

					<div class="mbody">

					 <div class="status">

						 
							
							<div class="status__row">
									<div class="status__column  npp channelon">
										<div class="titlew">
											<a onClick="javascript:create_program()" href="#" class="myxhref">+<br>прог<br>рамм</a>
										</div>
									</div>

									<div class="status__column wdays">
										<div class="titlew">
											{{ chan.name }}
											<br>
											<button onClick="javascript:create_program()" type="button" name="new_prog" form="channel_settings">+ программа</button>
										</div>
									</div>

									<div class="status__column tbas">
										<div class="titlew">Сезон<br>%<br></div>
										<input type="number" name="seasonpc" form="channel_settings" value="{{ chan.season }}" />
									</div>

									<div class="status__column lbas">
										<div class="titlew">°C<br>min</div>
										<input type="number" name="cmindeg" form="channel_settings" value="{{ chan.cmin }}" />
									</div>

									<div class="status__column lbas">
										<div class="titlew">°C<br>max</div>
										<input type="number" name="cmaxdeg" form="channel_settings" value="{{ chan.cmax }}" />
									</div>
							</div>

							<div class="status__row">

								<div class="status__column  npp">
									<div class="titlew">№<br>пп</div>
								</div>

								<div class="status__column  wdays">
									<div class="titlew">&nbsp; Дни<br>недели</div>
								</div>

								<div class="status__column tbas">
									<div class="titlew">Время<br>начала</div>
								</div>

								<div class="status__column lbas">
									<div class="titlew">Вылив<br>min</div>
								</div>

								<div class="status__column lbas">
									<div class="titlew">Вылив<br>max</div>
								</div>

							</div>

							<div class="status__table">
								<div id="programs">
									{% for prg in prgs %}


									 {% endfor %}
								</div>
							</div>

							<div class="status__row" style="margin: 1% 0;">

								<div class="status__column" style="flex: 0 0 44%;">
									<div class="titlew">
										<p style="text-align: left;">&nbsp; Импульсный режим:</p>
										<p>импульс (c)  <input style="width: 40%;" type="number" name="meandr_on" form="channel_settings" value="{{ chan.meandr_on }}" size="2"/></p>
										<p>пауза °Cmin<input style="width: 40%;" type="number" name="meaoff_cmin" form="channel_settings" value="{{ chan.meaoff_cmin }}" /></p>
										<p>пауза °Cmax<input style="width: 40%;" type="number" name="meaoff_cmax" form="channel_settings" value="{{ chan.meaoff_cmax }}" /></p>
									</div>
								</div>

								<div class="status__column" style="flex: 0 0 30%; background-color: #2E8B57;">
									<div class="titlew">
										<p>Давление в<br>системе:</p>
										<p>min <input id="press_on" style="width: 40%;" type="number" name="press_on" form="channel_settings" value="{% widthratio chan.press_on 10 1 %}" /></p>
										<p>max<input id="press_off" style="width: 40%;"type="number" name="press_off" form="channel_settings" value="{% widthratio chan.press_off 10 1 %}" /></p>
										<p>(атм)</p>
									</div>
								</div>

								<div class="status__column" style="flex: 0 0 26%; padding-top: 20px;">
									<input {% if chan.lowlevel %}checked{% endif %} type="checkbox" id="lowlevel" name="lowlevel" form="channel_settings" value="yes" /><label for="lowlevel" style="display: inline;"><br><br>Работа при пустом баке</label>
								</div>

							</div>

							<div class="status__row" style="height: 15%;">

								<div class="status__column" style="flex: 0 0 24%;">
									<button onClick="save()" type="button" name="save_prog" form="channel_settings"><img src="{% static 'img/save.png' %}" alt="Сохранить" title="Сохранить" height=50px></button>
								</div>

								<div class="status__column" style="flex: 0 0 24%;">
									<button onClick="window.location.replace('{% url 'manual_activation' mqtt_user chn %}')" type="button" name="manual" form="channel_settings"><img src="{% static 'img/hand.png' %}" alt="Ручное упр" title="Ручное упр" height=50px></button>
								</div>

								<div class="status__column" style="flex: 0 0 26%; padding-top: 20px;">
									<input {% if chan.rainsens %}checked{% endif %} type="checkbox" id="rainsens_on" name="rainsens_on" form="channel_settings" value="yes" /><label for="rainsens_on" style="display: inline;"><br>Использовать датчик дождя</label>
								</div>

								<div class="status__column" style="flex: 0 0 13%; padding-top: 15px;">

									<input {% if chan.tempsens == 1 %}checked{% endif %} type="radio" id="tempsens1" name="tempsens" form="channel_settings" value="1" /><label for="tempsens1">1<br>&nbsp;</label>

									<input {% if chan.tempsens == 2 %}checked{% endif %} type="radio" id="tempsens2" name="tempsens" value="2" /><label for="tempsens2">2</label>

								</div>
								<div class="status__column" style="flex: 0 0 13%;">
									<br>
									<div class="imgsm">
											<img src="{% static 'img/measure.png' %}" width="120%"  alt="">
										</div>
								</div>
							
							</div>
					</div>

				 	</div>
			  	</div>

			  	<div class="page__element page__footer">
				<div class="fcontent">

				</div>
			  </div>

			</div>
	</div>
		<script type="text/javascript">
			programs_data.forEach(function(item, i, arr) {
				add_program(item);
			});
			set_pressure();
		</script>
</body>
</html>