{% extends "base.html" %}

{% block title %}{{ prefix }}{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<h1 xmlns="http://www.w3.org/1999/html">Контроллер {{ prefix }}</h1>
<table style="border-collapse:collapse;">
    <colgroup>
        <col>
        <col span="7">
    </colgroup>
    <thead class="graph-header">
        <tr class="graph">
            <th>Номер канала</th>
            <th colspan="24" style="width: 13% ">&nbsp;&nbsp;Понедельник&nbsp;&nbsp;</th>
            <th colspan="24" style="width: 13%">&nbsp;&nbsp;Вторник&nbsp;&nbsp;</th>
            <th colspan="24" style="width: 13%">&nbsp;&nbsp;Среда&nbsp;&nbsp;</th>
            <th colspan="24" style="width: 13%">&nbsp;&nbsp;Четверг&nbsp;&nbsp;</th>
            <th colspan="24" style="width: 13%">&nbsp;&nbsp;Пятница&nbsp;&nbsp;</th>
            <th colspan="24" style="width: 13%">&nbsp;&nbsp;Суббота&nbsp;&nbsp;</th>
            <th colspan="24" style="width: 13%">&nbsp;&nbsp;Воскресенье&nbsp;&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {% for line in lines_week %}
            <tr {% if forloop.last %} style="border-bottom: 2px solid gray" {% endif %}>
                <th>Канал {{ forloop.counter }}</th>
                {% for week in line %}
                    {% for h in week %}
                        {% if forloop.first %}
                            <th class="graph-left" {% if h == 1 %} style="background: green;" {% endif %}></th>
                        {% elif forloop.last %}
                            <th class="graph-right" {% if h == 1 %} style="background: green;" {% endif %}></th>
                        {% else %}
                            <th {% if h == 1 %} style="background: green;"{% endif %}></th>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}