
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=0">
	<meta name="format-detection" content="telephone=no">
	<title>Aquarius</title>
	<!--<link rel="stylesheet" href="css/style.css">-->
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
{% include "includes/channels_selector_script.html" %}
{% include "includes/utils.html" %}
<form name="set_time_form">
	{% csrf_token %}
</form>
<script type="text/javascript">
	const MQTT_USER = "{{ mqtt_user }}"
	var channels_state = [];
	var channels_meandrs = [];
	var load_time = new Date();
	var controller_time = new Date(load_time.getFullYear(), load_time.getMonth(), load_time.getDate(), 0, 0, 0);
	var paused = false;


	function update_data_on_page(properties)
	{
		if (properties["pause"] == true)
		{
			document.getElementById("mbody").style.backgroundColor = "#deca71";
		}
		else
		{
			document.getElementById("mbody").style.backgroundColor = "#2F4F4F";
		}


		if (properties["hour"] != undefined & properties["minute"] != undefined & properties["second"] != undefined)
		{
			controller_time = new Date(load_time.getFullYear(), load_time.getMonth(), load_time.getDate(), properties["hour"], properties["minute"], properties["second"]);

			document.getElementById("controller_time").innerHTML = "&#8986; &nbsp; &nbsp; " + controller_time.getHours().toString() + ":" + two_digits(controller_time.getMinutes());

			check_controller_time();
		}

		if (properties["esp_mqtt"] != undefined)
		{
			if (properties["esp_mqtt"])
			{
				document.getElementById("mqtt_status").innerHTML = "MQTT - OK!"
			}
			else
			{
				document.getElementById("mqtt_status").innerHTML = "MQTT - ОШИБКА!"
			}
		}

		if (properties["next_time_hour"] != undefined & properties["next_time_minute"] != undefined)
		{
			document.getElementById("next_activation_time").innerHTML = "&#9200; &nbsp; &nbsp; " + properties["next_time_hour"].toString() + ":" + two_digits(properties["next_time_minute"]);
		}

		if (properties["next_chn"] != undefined)
		{
			document.getElementById("next_activation_channel").innerHTML = "Канал " + properties["next_chn"].toString();
		}

		if (properties["pressure"] != undefined)
		{
			document.getElementById("pressure").innerHTML = (properties["pressure"] / 10).toString();
		}

		if (properties["stream"] != undefined)
		{
			document.getElementById("stream").innerHTML = properties["stream"].toString();
		}

		if (properties["channels_meandrs"] != undefined)
		{
			channels_meandrs = properties["channels_meandrs"];
		}

		if (properties["channels_state"] != undefined)
		{
			channels_state = properties["channels_state"];
			set_channels();
			set_channels_status();
		}

		if (properties["name"] != undefined & !(document.activeElement === document.getElementById("controller_name")))
		{
			document.getElementById("controller_name").value = properties["name"].toString();
		}

	}

	var intervalId = window.setInterval(function(){
  		socket.send(JSON.stringify({"mqtt_user": MQTT_USER, "command": "get_properties"}));
	}, 30000);

	const socket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/controller'
        );

	socket.onopen = function(e)
	{
	  	socket.send(JSON.stringify({"mqtt_user": MQTT_USER, "command": "get_properties"}));
	};


    socket.onmessage = function(event)
    {
    	var data = JSON.parse(event.data);
    	if (data["type"] == "properties")
    	{
    		update_data_on_page(data);
    	}
    	else if (data["type"] == "data_downloaded")
    	{
			alert("Данные загружены.");
			location.reload()
    	}
	};

	function check_controller_time()
	{
		var device_time = new Date();
		if (Math.abs(device_time - controller_time) > (1000 * 180))
		{
			if (confirm("Время на контроллере не совпадает со временем на устройстве. Синхронизировать?"))
			{
				var formData = new FormData(document.forms.set_time_form);

				var str_time = [device_time.getFullYear(), device_time.getMonth(), device_time.getDate(), device_time.getHours(), device_time.getMinutes(), device_time.getSeconds()].join("-");
				formData.append("set_time", str_time);

				var xhr = new XMLHttpRequest();
  				xhr.open("POST", "{% url 'controller' mqtt_user %}");
  				xhr.send(formData);
			}

		}
	}

	var pattern = "{% url 'channel' mqtt_user '-to_replace-' %}"
	function redirect_to_channel(num)
	{
		let channel_num = current_page * 10 + num;
		window.location.replace(pattern.replace("-to_replace-", channel_num.toString()));
	}

	function block_while_downloading()
	{
		if (window.confirm("Приложение будет недоступно до окончания скачивания. Продолжить?"))
		{
			blocked = true;
			socket.send(JSON.stringify({"mqtt_user": MQTT_USER, "command": "download_data"}));
		}
	}

	function save_name()
	{
		var name = document.getElementById("controller_name").value;
		socket.send(JSON.stringify({"mqtt_user": MQTT_USER, "command": "set_name", "data": name}));
	}
</script>
<body>
	<form id="main_form" action="#" method="post" enctype="multipart/form-data">{% csrf_token %}</form>
	<div class="wrapper">

		<div class="page">
			<div class="page__row">

				<div class="page__element page__head">
				 <div class="mhead">
					<a target="_blank" href="https://hi-garden.ru/" class="mhead__logo xhref">Hi-Garden</a>
					<div class="mhead__title">Aquarius Главная</Main></div>
					<a target="_blank" href="https://hi-garden.ru/aqua2-manual" class="mhead__manual xhref">&#8942;</a>
				 </div>

				</div>

			  <div class="page__element page__body">

				<div id="mbody" class="mbody">

					 <div class="status" style="justify-content: flex-start;">

						<div class="status__row" style="margin-top: 15px;">

							<div class="status__column">
								<div id="controller_time" class="titlew">&#8986; &nbsp; &nbsp; Загрузка...</div>
								<div id="mqtt_status" class="titlew">MQTT - Загрузка...</div>
								<div class="titlew" style="margin-top: 20px; margin-bottom: 0px;">
									Aquarius {{ mqtt_user }}
								</div>
								<input id="controller_name" type="text" style="width: 100%;" name="contr_name" value="Загрузка..." />
							</div>

							<div class="status__column">
								<div class="titlew">Следующее<br>включение</div>
								<div id="next_activation_time" class="titlew">&#9200; &nbsp; &nbsp; Загрузка...</div>
								<div id="next_activation_channel" class="titlew">
									Загрузка...
								</div>
							</div>

						</div>


						<div class="status__row" style="height: 9%;">
							<div class="status__column">
								<button type="button" onclick="document.location='{% url 'channel_naming' mqtt_user %}'" name="chname" form="main_form">Названия<br>каналов</button>
							</div>

							<div class="status__column">
								<button type="button" onclick="document.location='{% url 'manual_activation_selector' mqtt_user %}'"><img src="{% static 'img/hand.png' %}" alt="Ручное упр" title="Ручное упр" height=80%></button>

							</div>

							<div class="status__column">
								<button type="button" onclick="document.location='{% url 'pause' mqtt_user %}'"><img src="{% static 'img/pause.png' %}" alt="Пауза" title="Пауза" height=65%></button>
							</div>

							<div class="status__column">
								<button type="button" onclick="javascript:block_while_downloading()"><img src="{% static 'img/download.png' %}" alt="Скачать" title="Скачать" height=70%></button>
							</div>

						</div>

						<div class="status__row">
							<div class="status__column">
								<div id="chns_selector_0" class="titlef folderoff">
									<a  onClick="javascript:set_channels(0);" role="button" href="#" class="myxhref">Каналы 1-10<br></a>
									<div id="chns_selector_0_status" class="chnon">-</div>
								</div>
							</div>

							<div class="status__column">
								<div id="chns_selector_1" class="titlef folderoff">
									<a onClick="javascript:set_channels(1);" role="button" href="#" class="myxhref">Каналы 11-20<br></a>
									<div id="chns_selector_1_status" class="chnon">-</div>
								</div>

							</div>

							<div class="status__column">
								<div id="chns_selector_2" class="titlef folderoff">
									<a onClick="javascript:set_channels(2);" role="button" href="#" class="myxhref">Каналы 21-30<br></a>
									<div id="chns_selector_2_status" class="chnon">-</div>
								</div>

							</div>

						</div>

						<div id="chns_1-10">
						<div class="status__row">

							<div class="status__column">

								<div id="chn1_div" class="titlev channeloff">
									<a id="chn1" onClick="javascript:redirect_to_channel(1);" href="#" class="myxhref">Канал 1</a>
									<div id="chn1_meandr" class="meandroff">_∏_∏_</div>
								</div>

							</div>

							<div class="status__column">
								<div id="chn2_div" class="titlev channeloff">
									<a id="chn2" onClick="javascript:redirect_to_channel(2);" href="#" class="myxhref">Канал 2</a>
									<div id="chn2_meandr" class="meandroff">_∏_∏_</div>
								</div>
							</div>

							<div class="status__column">
								<div id="chn3_div" class="titlev channeloff">
									<a id="chn3" onClick="javascript:redirect_to_channel(3);" href="#" class="myxhref">Канал 3</a>
									<div id="chn3_meandr" class="meandroff">_∏_∏_</div>
								</div>
							</div>

							<div class="status__column">
								<div id="chn4_div" class="titlev channeloff">
									<a id="chn4" onClick="javascript:redirect_to_channel(4);" href="#" class="myxhref">Канал 4</a>
									<div id="chn4_meandr" class="meandroff">_∏_∏_</div>
								</div>
							</div>

						</div>

						<div class="status__row">

							<div class="status__column">
								<div id="chn5_div" class="titlev channeloff">
									<a id="chn5" onClick="javascript:redirect_to_channel(5);" href="#" class="myxhref">Канал 5</a>
									<div id="chn5_meandr" class="meandroff">_∏_∏_</div>
								</div>
							</div>

							<div class="status__column">
								<div id="chn6_div" class="titlev channeloff">
									<a id="chn6" onClick="javascript:redirect_to_channel(6);" href="#" class="myxhref">Канал 6</a>
									<div id="chn6_meandr" class="meandroff">_∏_∏_</div>
								</div>
							</div>

							<div class="status__column">
								<div id="chn7_div" class="titlev channeloff">
									<a id="chn7" onClick="javascript:redirect_to_channel(7);" href="#" class="myxhref">Канал 7</a>
									<div id="chn7_meandr" class="meandroff">_∏_∏_</div>
								</div>
							</div>

							<div class="status__column">
								<div id="chn8_div" class="titlev channeloff">
									<a id="chn8" onClick="javascript:redirect_to_channel(8);" href="#" class="myxhref">Канал 8</a>
									<div id="chn8_meandr" class="meandroff">_∏_∏_</div>
								</div>
							</div>

						</div>

						<div class="status__row">

							<div class="status__column">
								<div class="titlev onledw">
									<a target="_blank" href="https://hi-garden.ru" class="myxhref">Влажность</a>
									<div class="meandron">45%</div>
								</div>

							</div>

							<div class="status__column">
								<div id="chn9_div" class="titlev channeloff">
									<a id="chn9" onClick="javascript:redirect_to_channel(9);" href="#" class="myxhref">Канал 9</a>
									<div id="chn9_meandr" class="meandroff">_∏_∏_</div>
								</div>
							</div>

							<div class="status__column">
								<div id="chn10_div" class="titlev channeloff">
									<a id="chn10" onClick="javascript:redirect_to_channel(10);" href="#" class="myxhref">Канал 10</a>
									<div id="chn10_meandr" class="meandroff">_∏_∏_</div>
								</div>
							</div>

							<div class="status__column">
								<div class="titlev channeloff">
									<a target="_blank" href="https://hi-garden.ru" class="myxhref">Насос</a>
									<div class="meandroff">&nbsp;</div>
								</div>

							</div>

						</div>
							</div>

						<div class="status__row">

							<div class="status__column">
								<div class="imgsm">
									{% load static %}
									<img src="{% static 'img/pressw.png' %}" width="80%"  alt="">
								</div>

								<div id="pressure" class="titlew">Загрузка...</div>
							</div>

							<div class="status__column">
								<div class="imgsm">
									<img src="{% static 'img/potok.png' %}" width="80%"  alt="">
								</div>
								<div id="stream" class="titlew">Загрузка...</div>
							</div>

							<div class="status__column">
								<div class="imgsm">
									<img src="{% static 'img/tankf.png' %}" width="75%"  alt="">
								</div>
								<div class="titlew">ON</div>
							</div>

							<div class="status__column">
								<div class="imgsm">
									<img src="{% static 'img/measure.png' %}" width="80%"  alt="">
								</div>
								<div class="titlew">{{ cont.t1 }}° {{ cont.t2 }}°</div>
							</div>

						</div>

						<div class="status__row">

							<div class="status__column">
								<div class="titlew">Esp: {{ cont.esp_v }}</div>
							</div>

							<div class="status__column">
								<div class="titlew">And: site</div>
							</div>

							<div class="status__column">
								<div class="titlew">Avr: 159</div>
							</div>

						</div>
					</div>

				 </div>
			  </div>

			  <div class="page__element page__footer">
				<div class="fcontent">

				</div>
			  </div>
			</div>
	</div>
		<script type="text/javascript">
			document.getElementById("controller_name").addEventListener('change', (event) => {
			  save_name();
			});
		</script>
</body>
</html>