<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=0">
	<meta name="format-detection" content="telephone=no">
	<title>Ручное включение</title>
	<link rel="stylesheet" href="css/style.css">
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
	<div class="wrapper">

		<div class="page">
			<div class="page__row">

				<div class="page__element page__head">
				 <div class="mhead">
					<a target="_blank" href="https://hi-garden.ru/" class="mhead__logo xhref">Hi-Garden</a>
					<div class="mhead__title">Aquarius Hand</Main></div>
					<a target="_blank" href="https://hi-garden.ru/aqua2-manual" class="mhead__manual xhref">&#8942;</a>
				 </div>
			
				</div>

			  <div class="page__element page__body">

				<div class="mbody">

					 <div class="status">

						<div class="status__row">

							<div class="status__column">
								<div class="titlew"><br>&#8986; &nbsp; &nbsp; {{ cont.time|date:"G:i" }}</div>
							</div>

							<div class="status__column">&nbsp;</div>
							
						</div>

						<div class="status__row">

							<div class="status__column">
								<div class="titlew">MQTT - {% if cont.esp_mqtt %}ОК{% else %}Нет подключения{% endif %}!</div>
							</div>

							<div class="status__column">&nbsp;</div>
							
						</div>


						<div class="status__row">

							<div class="status__column">
								<div class="titlew">
									Aquarius 294<br>Ягодное, Энерг 13
								</div>
							</div>

							<div class="status__column">
								<div class="titlew">
									Канал 2
								</div>
							</div>
							
						</div>

						<div class="status__row">
							<div class="status__column">
								<div class="titlem">*</div>
							</div>
						</div>

						<div class="status__row">

							<div class="status__column">
								<div class="titlev">
									<a href="{% url 'manual_activation' prefix chn 1 %}" class="myxhref">1 мин</a>
								</div>
								
							</div>

							<div class="status__column">
								<div class="titlev">
									<a href="{% url 'manual_activation' prefix chn 2 %}" class="myxhref">2 мин</a>
								</div>
							</div>

							<div class="status__column">
								<div class="titlev">
									<a href="{% url 'manual_activation' prefix chn 3 %}" class="myxhref">3 мин</a>
								</div>
							</div>

							<div class="status__column">
								<div class="titlev">
									<a href="{% url 'manual_activation' prefix chn 5 %}" class="myxhref">5 мин</a>
								</div>
							</div>

						</div>

						<div class="status__row">

							<div class="status__column">
								<div class="titlev">
									<a href="{% url 'manual_activation' prefix chn 10 %}" class="myxhref">10 мин</a>
								</div>
							</div>

							<div class="status__column">
								<div class="titlev">
									<a href="{% url 'manual_activation' prefix chn 15 %}" class="myxhref">15 мин</a>
								</div>
							</div>

							<div class="status__column">
								<div class="titlev">
									<a href="{% url 'manual_activation' prefix chn 20 %}" class="myxhref">20 мин</a>
								</div>
							</div>

							<div class="status__column">
								<div class="titlev">
									<a href="{% url 'manual_activation' prefix chn 30 %}" class="myxhref">30 мин</a>
								</div>
							</div>

						</div>

						<div class="status__row">

							<div class="status__column">
								<div class="titlev">
									<a href="{% url 'manual_activation' prefix chn 40 %}" class="myxhref">40 мин</a>
								</div>
							</div>

							<div class="status__column">
								<div class="titlev">
									<a href="{% url 'manual_activation' prefix chn 60 %}" class="myxhref">60 мин</a>
								</div>
							</div>

							<div class="status__column">
								<div class="titlev">
									<a href="{% url 'manual_activation' prefix chn 90 %}" class="myxhref">90 мин</a>
								</div>
							</div>

							<div class="status__column">
								<div class="titlev">
									<a href="{% url 'manual_activation' prefix chn 120 %}" class="myxhref">120 мин</a>
								</div>
							</div>

						</div> 

						<div class="status__row">

							<div class="status__column">
								<div class="titlev">
									<a href="{% url 'manual_activation' prefix chn 180 %}" class="myxhref">180 мин</a>
								</div>
							</div>

							<div class="status__column">
								<div class="titlev">
									<a href="{% url 'manual_activation' prefix chn 240 %}" class="myxhref">240 мин</a>
								</div>
							</div>

							<div class="status__column">
								<div class="titlem">*</div>
							</div>

							<div class="status__column">
								<div class="titlev">
									<a href="{% url 'manual_activation' prefix chn 0 %}" class="myxhref">Выключить</a>
									<br>&nbsp;
								</div>

							</div>
						</div>

						<div class="status__row">

							<div class="status__column">
								<div class="titlew">Esp: 1.9.3</div>
							</div>

							<div class="status__column">
								<div class="titlew">And: site</div>
							</div>

							<div class="status__column">
								<div class="titlew">Avr: 159</div>
							</div>

						</div> 
					</div>

				 </div>
			  </div>

			  <div class="page__element page__footer">
				<div class="fcontent">

				</div>
			  </div>
			</div>
	</div>
</body>
</html>