
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=0">
	<meta name="format-detection" content="telephone=no">
	<title>Aquarius</title>
	<!--<link rel="stylesheet" href="css/style.css">-->
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
{% include "includes/utils.html" %}
<script>
	function a_days()
	{
		var new_state = false;
		for (var i = 1; i < 8; i++)
		{
			new_state = new_state | (!document.getElementById("wd" + i.toString()).checked);
		}
		for (var i = 1; i < 8; i++)
		{
			document.getElementById("wd" + i.toString()).checked = new_state;
		}
	}

	function save()
	{
		document.getElementById("prog_settings").submit();
	}
</script>
<body>
	<form id="prog_settings" method="post" enctype="multipart/form-data">{% csrf_token %}</form>
	<div class="wrapper">

		<div class="page">
			<div class="page__row">

				<div class="page__element page__head">
					<div class="mhead">
						<div class="mhead__title">
							<b>Программа полива</b>
						</div>

						<div class="mhead__title">
							<b>Канал {{ chn }}</b>
						</div>

						<div class="mhead__manual">
							<a target="_blank" href="https://hi-garden.ru/aqua2-manual" class="mhead__manual xhref">&#8942;</a>
						</div>
						
					</div>

				</div>

			  	<div class="page__element page__body">

					<div class="mbody">

						<div class="status">

							<div class="status__row">

								<div class="status__column wbas">
									<div class="titlew"><br>Программа №<br></div>
									<div class="titlew"><br>{{ prg_num }}<br></div>
								</div>

								<div class="status__column wbas">
									<div class="titlew">Время<br>включения<br></div>
									<input type="time" name="prog_time" form="prog_settings" value="{{ time }}" />
								</div>

								<div class="status__column">
									<div class="status__row wbas">
										<div class="titlew">Длительность при</div>
									</div>

									<div class="status__row">
										<div class="status__column wbas">
											<div class="titlew">°C<br>min</div>
											<input type="number" name="prog_cmin" form="prog_settings" value="{{ t_min }}" />
										</div>
			
										<div class="status__column wbas">
											<div class="titlew">°C<br>max</div>
											<input type="number" name="prog_cmax" form="prog_settings" value="{{ t_max }}" />
										</div>
									</div>
								</div>

							</div>



						<div class="status__row" style="flex: 1 1 auto;">

							<div class="status__column" style="background-color: #2E8B57; margin: 2%;">
								<div class="wdbox">


									<input {% if d1 %}checked{% endif %} type="checkbox" id="wd1" name="wd1" form="prog_settings" value="1" /><label for="wd1">Понедельник</label>

									<input {% if d2 %}checked{% endif %} type="checkbox" id="wd2" name="wd2" form="prog_settings" value="2" /><label for="wd2">Bторник</label>


									<input {% if d3 %}checked{% endif %} type="checkbox" id="wd3" name="wd3" form="prog_settings" value="3" /><label for="wd3">Среда</label>

									<input {% if d4 %}checked{% endif %} type="checkbox" id="wd4" name="wd4" form="prog_settings" value="4" /><label for="wd4">Четверг</label>


									<input {% if d5 %}checked{% endif %} type="checkbox" id="wd5" name="wd5" form="prog_settings" value="5" /><label for="wd5">Пятница</label>


									<input {% if d6 %}checked{% endif %} type="checkbox" id="wd6" name="wd6" form="prog_settings" value="6" /><label for="wd6">Суббота</label>


									<input {% if d7 %}checked{% endif %} type="checkbox" id="wd7" name="wd7" form="prog_settings" value="7" /><label for="wd7">Воскресенье</label>

									<div class="wdbox__row">
										<button onClick="a_days()" type="button" name="all_days" form="prog_settings" style="width: 200%; height: 100%">Все дни</button>
									</div>

								</div>

							</div>

							<div class="status__column" style="background-color: #2E8B57; margin: 2%;">
								<div class="wdbox" style="height: 50%;">

									<label for="even">Неделя:</label>

									<input {% if even_week %}checked{% endif %} type="checkbox" id="even" name="even" form="prog_settings" value="2" /><label for="even">Четная</label>
									<input {% if odd_week %}checked{% endif %} type="checkbox" id="odd"  name="odd" form="prog_settings" value="3" /><label for="odd">Нечетная</label>

								</div>
							</div>

						</div>

						<div class="status__row">

							<div class="status__column">
								<div class="wdbox__row">
									<button onClick="save()" type="button" name="save_prog" form="prog_settings"><img src="{% static 'img/save.png' %}" alt="Сохранить" title="Сохранить" width="40%"></button>
								</div>
							</div>

						</div>
					</div>

				 </div>
			 	</div>

			  	<div class="page__element page__footer" style="height: 30px;">
				</div>
			</div>
	</div>
</body>
</html>