<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/stylesheet.css'%}" type="text/css">
    {% include 'includes/js_clock.html' %}
    {% block head %}
    {% endblock %}
</head>
<body>
    <nav class="topnav">
        <a href="/"><big>Главная страница</big></a>
        <a href="/reports">Отчеты</a>
        <div  class="topnav-right">
            <div class="dropdown" style="float:right;">
                <button class="dropbtn">{{ user.get_username }}</button>
                <div class="dropdown-content">
                    <a href="/accounts/logout">Выйти</a>
                </div>
            </div>
        </div>
        <div  class="topnav-right">
            <div id="id_clock"></div>
            <script>digitalClock();</script>
        </div>
    </nav>
    <hr>
    {% block content %}
    {% endblock %}
</body>