.topnav a
{
        padding-right: 15px;
        font-size: 17px;
}
.topnav-right
{
        float: right;
        font-size: 17px;
        padding-right: 15px;
}

.dropbtn {
  border: none;
  cursor: pointer;
  background-color: white;
  font-size: 17px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
}

.graph-right {
border-right: 1px solid gray;
}

.graph-left {
border-left: 1px solid gray;
}

.graph-header tr{
border-bottom: 2px solid gray;
width: 13%
}



